@import "media.css";
*{
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
}
.navbar {
	top: 0;
	width: 100%;
	padding: 10px;
	z-index: 1000;
	box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1) inset;
}
.search {
	justify-content: space-evenly !important;
}
.search form {
	flex-basis: 78% !important;
	text-align: center;
}
.search .speak {
	flex-basis: 15%;
}
.search .speak button {
	display: inline-block;
	width: 40px;
	border-radius: 50%;
}
.search form input {
	width: 85%;
	border: 1px solid;
	border-radius: 20px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	transition: .3s;
}
.search form input {
	border: 1px solid;
	outline: none;
}
.search form button {
	width: 10%;
	border: 1px solid;
	border-left: none;
	border-radius: 20px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.profile {
	font-size: 20px;
}

.main-content {
	width: 99%;
	padding: 10px;
	margin: auto;
}
.sidebar {
	transition: .3s;
}
.sidebar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.sidebar ul li span {
	flex-basis: 15%;
}
.sidebar ul li a {
	display: block;
	padding: 10px 0px 10px 0px;
	color: black;
	font-size: 15px;
	text-decoration: none;
}
.box {
	padding: 10px 0px 0px 15px;
}
#small {
	display: none;
}
.box .img {
	width: 100%;
}
.box .img iframe {
	aspect-ratio: 16/9;
    height: auto;
    width: 95%;
    border-radius: 15px;
}
span img {
	width: 30px;
	border-radius: 50%;
}
.des p {
	margin: 0;
}
#indent {
	margin-left: 35px;
	margin-bottom: 10px	;
}