@media all and (max-width: 991px){
	#larg {
		display: none !important;
	}
	#small {
		display: block !important;
	}
	.main-content {
		padding: 0px 10px !important;
	}
	.content {
		width: 100% !important;
	}
	.search {
		flex-basis: 60% !important;
	}
	.search form {
		text-align: right !important;
	}
	.search form input:focus {
		width: 70% !important;
	}
	.search form button {
		width: 60px !important;
	}
	.profile {
		flex-basis: 20% !important;
	}
	.profile {
		flex-basis: 20% !important;
	}
	#sidebar {
		position: fixed;
		background-color: white;
		width: 50%;
		display: block;
		left: -50%;
		transition: .3s;
	}
}
@media all and (max-width: 800px){
	.search {
		justify-content: space-evenly !important;
	}
	.search form {
		flex-basis: 60% !important;
		text-align: right !important;
	}
	.search form input {
		width: 70% !important;
	}
}
@media all and (max-width: 700px){
	.navbar {
		justify-content: space-between !important;
	}
	.search {
		flex-basis: 50% !important;
		justify-content: space-evenly !important;
	}
	.search .speak {
		text-align: center !important;
	}
	.search form {
		flex-basis: 60% !important;
		text-align: right !important;
	}
	.search form input {
		width: 70% !important;
	}
}
@media all and (max-width: 530px){
	#larg {
		display: none !important;
	}
	#small {
		display: block !important;
	}
	.navbar {
		justify-content: center !important;
	}
	.logo {
		flex-basis: 20% !important;
		text-align: center;
	}
	.main-content {
		padding: 0px 10px !important;
	}
	.search {
		flex-basis: 70% !important;
	}
	.search form {
		flex-basis: 75% !important;
	}
	.search form input {
		width: 14% !important;
		border-radius: 20px !important;
		padding: 3px 5px 3px 33px !important;
		background: url("https://th.bing.com/th/id/R.cdab85a392e92623afa27de32443379f?rik=0RkIkX%2bdiSIFZA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fsearch-button-png-search-icon-this-icon-is-supposed-to-represent-a-magnifying-glass-it-s-a-large-png-50-px-1600.png&ehk=grlbuyhad%2bYRRqy5sfjRfmWOEHvzxlyha5HDmdw0wtE%3d&risl=&pid=ImgRaw&r=0") no-repeat;
		background-size: 20px;
		background-position: 10px 10px;
	}
	.search form input:focus {
		width: 98% !important;
		border: 1px solid;
		outline: none;
	}
	.search form button {
		width: 15% !important;
		display: none;
	}
	.profile {
		flex-basis: 100% !important;
		justify-content: center !important;
		text-align: center;
		padding-top: 15px;
	}
	.profile i {
		flex-basis: 10% !important;
	}
	#sidebar {
		position: fixed;
		background-color: white;
		width: 50%;
		height: 100vh;
		display: block;
		left: -50%;
		transition: .3s;
	}
}